.vs/
x64/
Debug/
Release/
bin/*
!bin/NOTICES.txt
!bin/LICENSE
!bin/LGPL-3.0.txt
*.user
*.filters
*.aps
*.opendb
*.suo
*.db
ipch/
enc_temp_folder/
*.sys
*.pdb
*.iobj
*.ipdb
*.pfx
*.p12
*.key
.env
.env.*
sse_bridge.py
